/*
* Main navigation
*
* Turn the `.navbar` at the top of the docs russet.
*/

.rts-docs-nav {
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 0;
}
.rts-home-nav .rts-nav-b {
    display: none;
}
.rts-docs-nav .navbar-brand,
.rts-docs-nav .navbar-nav > li > a {
    font-weight: 500;
    color: #80461B;
}
.rts-docs-nav .navbar-nav > li > a:hover,
.rts-docs-nav .navbar-nav > .active > a,
.rts-docs-nav .navbar-nav > .active > a:hover {
    color: #463265;
    background-color: #f9f9f9;
}
.rts-docs-nav .navbar-toggle .icon-bar {
    background-color: #80461B;
}
.rts-docs-nav .navbar-header .navbar-toggle {
    border-color: #fff;
}
.rts-docs-nav .navbar-header .navbar-toggle:hover,
.rts-docs-nav .navbar-header .navbar-toggle:focus {
    background-color: #f9f9f9;
    border-color: #f9f9f9;
}


/*
 * Footer
 *
 * Separated section of content at the bottom of all pages, save the homepage.
 */

.bs-docs-footer {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 100px;
  color: #99979c;
  text-align: center;
  background-color: #2a2730;
}
.bs-docs-footer a {
  color: #fff;
}
.bs-docs-footer-links {
  padding-left: 0;
  margin-bottom: 20px;
}
.bs-docs-footer-links li {
  display: inline-block;
}
.bs-docs-footer-links li + li {
  margin-left: 15px;
}

@media (min-width: 768px) {
  .bs-docs-footer {
    text-align: left;
  }
  .bs-docs-footer p {
    margin-bottom: 0;
  }
}
